<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">Direct</a>
  <a href="#contact">Contact</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>



<div style="padding-left:16px">
  <h2>Responsive Search Bar</h2>
  <p>Navigation bar with a search box and a submit button inside of it.</p>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<mat-card>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item *ngFor="let messages of messages">
           <img matListAvatar src="../assets/Carlos.png" alt="...">
    <h3 matLine> {{messages.from}} {{messages.subject}} </h3>
           
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
      
      <mat-panel-description>
    
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h1>Age/Ethnicity</h1>
    <p>15 years old , Hispanic</p>
    <h1>Carlos Lorenzo</h1>
   <p>I like to play Soccer </p>
  </mat-expansion-panel>
</mat-card>

<mat-card>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item *ngFor="let manuel of manuel">
            <img matListAvatar src="../assets/dad.png" alt="...">
    <h3 matLine> {{manuel.from}} {{manuel.subject}} </h3>
           
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
      
      <mat-panel-description>
    
      </mat-panel-description>
    </mat-expansion-panel-header>
   <p>I like to play BasketBall </p>
  </mat-expansion-panel>
</mat-card>




<mat-card>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item *ngFor="let dad of dad">
            <img matListAvatar src="../assets/mohammed.png" alt="...">
            <h3 matLine> {{dad.from}} {{dad.subject}} </h3>
           
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
      
      <mat-panel-description>
    
      </mat-panel-description>
    </mat-expansion-panel-header>
   <p>I like to play Baseball </p>
  </mat-expansion-panel>
</mat-card>





<mat-card>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item *ngFor="let kevin of kevin">
            <img matListAvatar src="../assets/kevin.png" alt="...">
            <h3 matLine> {{kevin.from}}  {{kevin.subject}}</h3>
           
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
      
      <mat-panel-description>
    
      </mat-panel-description>
    </mat-expansion-panel-header>
   <p>I like to play Football</p>
  </mat-expansion-panel>
</mat-card>





<mat-card>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item *ngFor="let ali of ali">
            <img matListAvatar src="../assets/ali.png" alt="...">
            
            <h3 matLine> {{ali.from}}  {{ali.subject}} </h3>
            
           
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
      
      <mat-panel-description>
    
      </mat-panel-description>
    </mat-expansion-panel-header>
   <p>I like to go dirt biking in the montains and enjoy the fun of it</p>
  </mat-expansion-panel>
</mat-card>

<mat-card>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item *ngFor="let david of david">
            <img matListAvatar src="../assets/david.png" alt="...">
            <h3 matLine> {{david.from}} {{david.subject}} </h3>
           
          </mat-list-item>
        </mat-list>
      </mat-panel-title>

      <mat-panel-description>
      
      </mat-panel-description>
    </mat-expansion-panel-header>
   <p>I like to go cycling and go out with my frinds out in the city</p>
  </mat-expansion-panel>
</mat-card>





<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<router-outlet></router-outlet>